*{
  box-sizing: border-box;
}
body{
  margin: 0;
  overflow: hidden;
}
.container{
display: flex;
max-width: 100vw;
height:100vh;
overflow: hidden;
}
.left{
  background-image: url("https://gmedia.playstation.com/is/image/SIEPDC/ps5-product-thumbnail-01-en-14sep21?$facebook$");
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  width: 50%;
  z-index: -1;
  position: relative;
  transition: width 1s;

}
.overlay1{
  position: absolute;
  top:0;
  left: 0;
  right:0;
  bottom: 0;
  background-color: blueviolet;
  opacity:0.5;
  z-index: 1;
}
.overlay2{
  position: absolute;
  top:0;
  left: 0;
  right:0;
  bottom: 0;
  background-color: black;
  opacity:0.5;
  z-index: 1;
}
.right{
  background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4mRni?ver=8361");
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  width: 50%;
  z-index: -1;
  position: relative;
  transition: width 1s;
}
.content{
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  top:20%;
  text-align: center;
  z-index:3;
}

.content h1{
  font-size: 3rem;
}

.content button{
  color: white;
  padding:20px;
  outline: none;
  border: 1px solid white;
  background: inherit;
}