body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;

}
.bg{
    background-image: url(https://blog.hubspot.com/hubfs/GettyImages-1177482693.jpg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    position: absolute;
    top:0;
    left: 0;
    width: calc(100vw + 60px);
    height:calc(100vh + 60px);
    filter:blur(0px);
    z-index: -1;
}
.loading-text{
    font-size: 50px;
    color: white;
    font-weight: 600;
}